@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}  


body{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100hv;
    background: url('/assets/img/fonDO_ent.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius:16px ;
    padding: 20px;
    color: #fff;
    transition: height .6s ease;
}

.search-box{
    position: relative;
    width:100%;
    height: 55px; 
    display: flex;
    align-items: center;

}

.search-box i{
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}
.search-box input::placeholder{

    color: #fff;
    text-align: capitalize;
}

.search-box button {
    position: absolute;
    right: 0;
    width:0;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 40px 0 5px;
    cursor: pointer;
    
}

/*imagenes clima*/
.weather-box {
    text-align: center;
    margin-top: 40px 0;
}
.weather-box,
.weather-details,
.not-found{
    overflow: hidden;
    visibility: hidden;
}

.weather-box.activate,
.weather-details.activate,
.not-found.activate{
    visibility: visible;
}

.weather-box .box,
.not-found .box{
    transform: translateY(-100%);
}

.weather-box.activate .box,
.not-found.activate .box{
    transform: translateY(-0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

.weather-box.activate .box.info-weather{
    transform:translate(-120%) ;

}

.container.activate .weather-box .box.info-weather,
.container.activate .weather-details .humidity .info-humidity,
.container.activate  .weather-details .wind .info-humidity{

    transform: translateY(-120%);
    transition: transform 1s ease;
}

.weather-box img{
    width: 60%;

}

.weather-box .temperatura{
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
}

.weather-box .temperatura span{
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}
.weather-box .descripcion{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;


}

.weather-details{
    position: absolute;
    bottom: 40px; 
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateYT(-100%);
}

.weather-details.activate .humidity .humidity,
.weather-details.activate .wind {
    transform: translateYT(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s ;
}

.weather-details.activate .humidity.info-humidity,
.weather-details.activate .wind .info-humidity {
    transform: translateY(-100%);
    overflow: hidden;
}
.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;

}
.weather-details .wind {
    padding-right: 20;
    justify-content: flex-end;

}

.weather-details i {
    font-size: 56px;
    margin-right: 10px;

}
.weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;

}

.weather-details p {
    font-size: 14px;
    font-weight: 500;

}

.not-found{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.not-found img {
    width:65% ;
}

.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.city-hide{
    display:none;
}