.tamannio_imagen_1 {
    width: 235px;
    height: 160px;
    border-style: solid;
    border-width: medium;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#i{
  color:  #000000;
}